# OUTPUT

# `print()` function

In [1]:
20+30

50

In [2]:
print(20+30)

50

In [5]:
33+66
22+77
50-10

40

In [6]:
print(33+66)
print(22+77)
print(50-10)

99
99
40

In [7]:
print("My name is")
print("Arijit")

My name is
Arijit

## Avoiding new line

In [12]:
print("My name is", end=" ")  # to avoid new line use this method
print("Arijit")

My name is Arijit

# f-string

In [13]:
x =10
y=99

In [14]:
print("the value of x is", x, "The value of y is ", y)

the value of x is 10 The value of y is  99

In [15]:
print(f"the value of x is {x} the value of y is {y}")

the value of x is 10 the value of y is 99

In [16]:
print(f"some expressins {x+y} and  {66-13}")

some expressins 109 and  53

# INPUT

In [1]:
var = input()

123

In [2]:
print(var)

123

In [3]:
var1 = input("Type something ")

Type something 79623726387

In [4]:
var2 = input("Type something ")

Type something my name is aj

In [6]:
print(var2)

my name is aj

In [7]:
type(var2)

str

In [8]:
type(var1)

str

In [10]:
x = input("firt number ")
y = input("second number ")
print(x+y)

firt number12
second number55
1255

# Type conversion

In [11]:
x = 12
type(x)

int

In [12]:
z = str(x)

In [13]:
print(type(z))

<class 'str'>

In [14]:
x = input("firt number ")
x = int(x)
y = input("second number ")
y = int(y)
print(x+y)

firt number 20
second number 50
70

                               -------------------- 0 -------------------------