# Variables and Data types

### variable --> container for data

### Data types --> integer [ 10, 20, 30 ] , Float [12.33, 3.14 ... ] , string ["hello world", "my name", " tutoriex"...]  Boolean [True, False ]

In [4]:
my_var = 10

In [5]:
type(my_var)

int

In [6]:
var2 = 3.14

In [7]:
type(var2)

float

In [8]:
var3 = "tutoriex"

In [9]:
type(var3)

str

### Rules for creating variables in Python:
   1. A variable name must start with a letter or the underscore character.
   2. A variable name cannot start with a number.
   3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
   4. Variable names are case-sensitive (name, Name and NAME are three different variables).
   5. The reserved words(keywords) cannot be used naming the variable.

In [10]:
_var = 66

In [12]:
var = 10

Var = 20

VAR = 78

In [13]:
var

10

In [14]:
Var

20

In [15]:
VAR

78

In [19]:
and = 12

SyntaxError: invalid syntax (<ipython-input-19-e79ef5378089>, line 1)

In [20]:
var5 = True

In [21]:
var5

True

In [22]:
True = 89

SyntaxError: cannot assign to True (<ipython-input-22-1c646445a23d>, line 1)